
/*FONTS*/

@font-face {
    font-family: MyRiad;
    src: url('../fonts/MyriadPro-Cond.otf');
}

@font-face {
    font-family: Reklame-Script;
    src: url('../fonts/ReklameScript-RegularDEMO.otf');
}

body{
	background-color:  #F4F4F4;
	font-family: MyRiad;
	font-size: 19px;
	color: #fff;
}

.navbar{
	margin-bottom: 0;
}

/*#fname{
	margin-left: 97px;
}*/

#top01{
	height: 5px;
	background:#FCAF17;
}
#top02{
	background: #f05a22;

}
#top03-lista{
	font-family: MyRiad;
}

#top03-lista > ul > li {
  padding-left: 15px;
  padding-right: 15px;
}

#top03-lista > ul > li > a{
	text-decoration: none;
	color: #fff;
	font-size: 22px;
}

#top03-lista > ul {
    margin-top: 20px;
}

.bgTintaHover {
    display: none;
    position: absolute;
    top: -40px;
    background: url(../img/bg_tinta.png);
    padding: 120px 60px 20px 80px;
    width: 380px;
    font-size: 12px;
    font-family: Helvetica;
    height: 330px;
    background-size: auto 100%;
    background-position: center center;
    line-height: 1;
    z-index: 9999;
}
.bgTintaHover img {
    width: 126px; /*130px before*/
    margin: -40px 0px 15px 35px;
}
.tinta:hover > .bgTintaHover {
    display: block !important;
}
/*Pos-TOP*/
.borderDash2 {
    height: 90%;
    border: 2px dashed;
    margin: 20px;
    border-left: none;
    margin-left: 0px;
    border-right: none;
    margin-right: 0px;
}
.borderDash {
    height: 90%;
    border: 2px dashed;
    margin: 20px;
    margin-right: 0px;
    border-right: none;
}

#select-form{
	background: #F15922;
	font-family: MyRiad;
	border-radius: 5px;
	font-size: 17px;
	border:none;
	margin-left: -5%;
}
.select-area{
	margin-right: 5%;
}
.vouncher {
    height:100%; padding-right: 0px; padding-left: 0px;position: relative;background: url('../img/firola.jpg') no-repeat #F16D3D;
}
.borderDash3 {
    height: 90%;
    border: 2px dashed;
    margin: 20px;
    border-left: none;
    margin-left: 0px;
}

.pos-top{
        height: 469px !important;
	margin-top:0.7%;
	background: #f1e5d2;
	height: 100%;
	top:10px;
	font-family: Reklame-Script;
}

#off_15{
    width: 31%;
    margin: 0 auto;
    margin-top: 30px;
    max-width: 170px;
    padding-bottom: 10px;
}

.Reklame-font {
	font-size: 40px;
	text-align: center;
}

.input-class{

	width: 41%;
	border-radius: 5px;
	margin-left: 18%;
}

.col-input{
	padding-bottom: 1%;
	left: 19%;
}


.btn-custom{
	background: #F15922;
	color:#fff;
	margin-left: 20%;
	font-size: 15px;
	border-radius: 8px;
	letter-spacing: 1px;
}

#btn-cadastrar{
	margin-left: 0;
    margin-bottom: 1%;
}

#promocao{
	text-align: center;
    font-size: 19px;
    padding-top: 16px;
    padding-bottom: 13px;
    color: #F15922;
    letter-spacing: 1px;
    font-family: myRiad;
    margin-right: 22%;
}

.config-border{
	padding-bottom: 3%;
    padding-top: 1.4%;
    padding-left: 2%;
}

.borda{
	border : 2px dashed #F15922;
	border-right: none;
}

#vouncher{
	background:#F16D3D;
	height: 469px;
	/* width: 56%; */
	position: relative;
}


#firola{

}
#firola2{

}

#vouncher-p1{
	color: #fff;
	font-size: 4.5em;
}


#vouncher-p2{
	color: #fff;
	font-size: 1.8em;
	font-family: MyRiad;
	letter-spacing: 1px;
	padding-right: 10%;
	line-height: 22px;
}

#manifesto_p{
	font-family:  Reklame-Script;
	 font-size:60px;
}
.pull-down{
	position: relative;
	top: 100px;
	margin: 0 auto;
	left: 12%;
}

.vouncher-input{
	top:126px;
}

#vouncher-input{
	margin : 0 auto;
	width: 73%;
	background: #F15922;
	border:none;
	font-family: myRiad;
	color:#fff;
	font-size: 19px;
	text-align: center;
}



#input-email{
	display: inline;
	font-family: MyRiad;
    font-size: 19px;
    /*margin-left: 20%;*/
    /*width:  198px;*/

}

#black-bar{
	width: 100%;
}

#pos-carousel{
	height: 100%;
	background-color: #F38761;
}

#pos-carousel > .row > .col-md-12 > p{

	font-family: MyRiad;
	color: #fff;
	font-size: 29px;
	text-align: center;
}

#circle-content{
	width: 88%;
    margin-left: 6%;
}

.circle-content-list{
	text-align: center;
    font-size: 29px;
    color: #fff;
    font-family: MyRiad;
}


}

#blinkmeclub{
	margin-left: 17%;
    width: 33%;
    margin-top: 7%;
}

#circle_thumb{
	margin-left: 64%;
    width: 64%;
    margin-top: 10%;
}

#circle_desc{
	margin-left: 13%;
    margin-top: 12%;
    color: #969698;
}

#circle_desc_2{
	color: #969698;
	margin-left: 21%;
    margin-top: 5%;
}

.vantagens{
	font-weight: bold;
	font-size: 14px;
	margin-top: 7.7%;
}

.ph{
	margin-top: 4%;
}
.ph > p{
	font-size: 19px;
	margin-left: 13%;
	color: #000;
}

.lista-vertical > dt{
	text-align: left;
	width: 4%;
	margin: 0;
}
.lista-vertical > dd{
	text-align: left;
	margin-left: 0;
}

.circle-img{
	    width: 70%;
    border-radius: 350px;
    margin: 0 auto;
}

#circle-cosmetics{
	margin-left: 14%;
}

#circle-atelier{
	margin-left: 2%;
}

#circle-lab{
	margin-left: -13%;
}

#circle-studio{
	margin-left: -22%;
}

.circle-content-p{
	font-family: myRiad;
	font-size: 24px;
	color:#fff;
	text-align: center;
}

.footer{
	background-color: #ED4810;
}

#logo-footer {
    width: 53%;
    margin: 0 auto;
}

.footer-p {
	margin-top: 10%;
}

#endereco{
	line-height: 0px;
}

#google-play{
	width: 70%;
}

#ios-store{
	width: 70%;
	margin-left: -26%;
}

.banner_2{
    background-image: url(../img/banner_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
    min-width: 500px;
    padding-bottom: 50px;
}
.tinta {
       padding: 30px 0px;
    background: url(../img/tinta.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center 0px;
}
.morumbi-town > p{
	text-align: left;
}

#col-cosmetics{
	margin-left: 14%;
}

#col-atelier{
	margin-left: 2%;
}

#col-lab{
	margin-left: -13%;
}

#col-studio{
	margin-left: -22%;
}

.custom_modal{
	background:#F15922;
}

#myModalLabel{
	width: 50%;
    margin: 0 auto;
    display: block;
}

#submenu_geral {
  z-index: 99;
}

.login-circle{
  border: 3px solid #fff;
  border-radius: 32px;
  padding: 0% 2% 0% 2% !important;
  height: 56px;
}

.login-circle p:first-child {
  line-height: 31px;
  text-align: center;
  margin-bottom: 0;
}

.login-circle p:last-child{
  font-size: 13px;
}

.login-circle p:last-child a{
    text-decoration: none;
    color: #000;
  }

.menu-desktop {
  background-color: #f05a22;
  position: absolute;
  top: 17%;
  width: 300px;
}

.menu-desktop ul {
  list-style-type: none;
  padding-top: 10px;
}

  .sub-menu {
    display: none;
  }

  .menu-desktop ul li:hover .sub-menu {
    display: block;
  }


.menu-desktop > ul >  li >  a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.sub-menu {
  padding: 10px 0px 10px 0px;
}

.sub-menu li a {
  font-size: 15px;
  text-decoration: none;
  color: #fff;
}

#menu {
  cursor: pointer;
}
.open {
  display: none;
}
.tinta-text {
  padding: 3% 0% 2% 0%;
}

.preparese {
  color: #888;
  padding-top: 30px;
  font-size: 20px;
}

.btn-default {
  background-color: #EC521E;
  border: none;
  color: #fff;
}

#entrar-btn {
  border-radius: 10px;
  padding-left: 2%;
  padding-right: 2%;
  font-weight: bold;
  font-size: 16px;
}


#promocao_area {
  padding: 30px 0px 30px 0px;
  color: #000;
}

#promocao_area input[type=text] {
  border-radius: 7px;
  width: 200px;
}


#promocao_area input[type=email] {
  border-radius: 7px;
  width: 200px;
}
